# created manually
.venv/

# Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*~

# Editor and IDE-specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Dependencies

# Data files
